@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* Variables */
/* Body */
body {
  background-color: #171717;
  color: #FFFFFF;
}

/* Background Colors */
.bg-theme {
  background: #987e5a;
}

.bg-secondary-theme {
  background: #171717;
}

/* Text Colors */
.text-theme {
  color: #987e5a;
}

.text-secondary-theme {
  color: #171717;
}

/* Text Alignment */
.text-justify {
  text-align: justify;
}

.text-last-left {
  -moz-text-align-last: left;
       text-align-last: left;
}

.text-last-center {
  -moz-text-align-last: center;
       text-align-last: center;
}

.text-last-right {
  -moz-text-align-last: right;
       text-align-last: right;
}

/* Letter-Spacing Utilities */
.ls-1 {
  letter-spacing: 0.1rem;
}

.ls-2 {
  letter-spacing: 0.2rem;
}

.ls-3 {
  letter-spacing: 0.3rem;
}

.ls-4 {
  letter-spacing: 0.4rem;
}

.ls-5 {
  letter-spacing: 0.5rem;
}

/* Links */
a {
  text-decoration: none;
}

.border {
  border: 1px solid #987e5a !important;
}

/* Buttons */
.btn-theme {
  color: #FFFFFF;
  background-color: #987e5a;
  border-color: #987e5a;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  z-index: 1;
  transition: color 0.6s ease-in-out, border-color 0.6s ease-in-out; /* Increased duration to 0.6s */
}
.btn-theme:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171717;
  z-index: -1;
  transition: transform 0.6s ease-in-out; /* Increased duration to 0.6s */
  transform: translateX(-100%);
}
.btn-theme:hover:before {
  transform: translateX(0);
}
.btn-theme:hover {
  color: #FFFFFF;
  border-color: #987e5a;
}

.btn-square, .btn-sm-square, .btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-transparent {
  background: transparent;
}

/* Spinner */
.spinner {
  width: 40px;
  height: 40px;
  background: #987e5a;
  margin: 100px auto;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

/* Keyframes */
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* Spinner Visibility */
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}
#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/* Hover Effect */
.hover-theme {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.6s ease-in-out, border-color 0.6s ease-in-out;
}
.hover-theme:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #987e5a;
  z-index: -1;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-100%);
}
.hover-theme:hover:before {
  transform: translateX(0);
}
.hover-theme:hover {
  color: #FFFFFF !important; /* Ensure the text color remains white on hover */
  border-color: #987e5a;
}
.hover-theme:hover .card-body .card-title, .hover-theme:hover .card-body i {
  color: #FFFFFF !important;
}

/* Zoom In Effect */
.hover-zoom {
  transition: 0.5s;
}
.hover-zoom:hover {
  transform: scale(1.1);
}

/* Navbar */
.navbar {
  background-color: #222222;
}
.navbar .navbar-brand img {
  width: 100px;
  height: auto;
  max-width: 100%;
  pointer-events: none; /* Prevents clicking to protect logo from being downloaded */
}
.navbar .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: #987e5a;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  transition: 0.5s;
}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
  color: #987e5a;
}
.navbar .navbar-nav .show > .nav-link {
  color: #987e5a;
}
.navbar .navbar-toggler {
  color: #987e5a !important;
  border: none !important;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .dropdown-menu {
  padding: 0;
  border-radius: 0;
}
.navbar .dropdown-menu .dropdown-item {
  transition: background-color 0.3s;
  border-bottom: 1px solid #987e5a; /* faint border bottom line */
  text-align: center;
  background-color: #171717;
  color: #FFFFFF;
  padding: 10px;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #987e5a;
  color: #FFFFFF;
}
.navbar .dropdown-menu .dropdown-item.active, .navbar .dropdown-menu .dropdown-item:active {
  color: #FFFFFF;
  background-color: #987e5a;
}

/* Footer */
footer {
  background-color: #987e5a;
  color: #FFFFFF;
}
footer ul li {
  margin-bottom: 0.5rem;
}
footer .footer-link {
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
footer .footer-link:hover {
  color: #171717;
  padding-left: 5px;
}
footer img {
  max-width: 150px;
}
footer h5, footer ul {
  text-align: center;
}

/* Landing Page Start */
/* Carousel */
.carousel-item {
  position: relative;
  min-height: 630px;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Hide Carousel Controls */
.carousel-control-prev, .carousel-control-next {
  display: none; /* set property block to display controls */
}

.web-form .form-control {
  background-color: transparent !important;
  border-radius: 1rem;
  border: 1px solid #ccc;
  color: #000;
}
.web-form .form-control:focus {
  box-shadow: none;
  border-color: #987e5a;
}
.web-form .form-control::-moz-placeholder {
  color: #EFEFEF;
}
.web-form .form-control::placeholder {
  color: #EFEFEF;
}

.pagination-blog .card {
  background-color: transparent !important;
}

/* About Us Page */
.about-page-intro .content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.about-page-intro .content p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.about-page-intro .icon {
  width: 50px;
  height: 50px;
}
.about-page-intro .icon .bi {
  font-size: 1.5rem;
}

.about-page-facts .fact-card {
  background-color: #171717;
  color: #FFFFFF;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}
.about-page-facts .fact-card .icon {
  font-size: 3rem;
  color: #987e5a;
}
.about-page-facts .fact-card h2 {
  color: #987e5a;
  font-weight: bold;
}
.about-page-facts .fact-card:hover {
  background-color: #987e5a;
  color: #171717;
}
.about-page-facts .fact-card:hover .icon {
  color: #FFFFFF;
}
.about-page-facts .fact-card:hover h2 {
  color: #FFFFFF;
}
.about-page-facts .fact-card:hover .text-muted {
  color: #FFFFFF !important;
}
.about-page-facts .text-muted {
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
}

/* Book table */
.book-table h2 {
  color: #FFFFFF;
}
.book-table p {
  color: #FFFFFF;
}
.book-table img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.book-table .row.g-3 {
  margin-top: 15px;
}

/* Reservation Page */
/* Reservation Icons */
.overlay-icons {
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
  border-left: 2px solid #987e5a;
  border-right: 2px solid #987e5a;
  padding: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a slight shadow to the text for better readability */
}
.overlay-icons p {
  font-size: 14px;
}

.overlay-icons-2 {
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
  border-left: 2px solid #987e5a;
  border-right: 2px solid #987e5a;
  padding: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a slight shadow to the text for better readability */
}
.overlay-icons-2 p {
  font-size: 14px;
}

/* Reservation Slider */
.custom-carousel {
  max-height: 593px;
  overflow: hidden;
}
.custom-carousel img {
  max-height: 593px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-carousel-2 {
  max-height: 681px;
  overflow: hidden;
}
.custom-carousel-2 img {
  max-height: 681px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Contact Page Section */
.contact-info .contact-item h5 {
  color: #333;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.contact-info .contact-item h5::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #987e5a;
  position: absolute;
  bottom: 0;
  left: 0;
}
.contact-info .contact-item p {
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.contact-info .contact-item p i {
  color: #987e5a;
  margin-right: 10px;
}

.online-form .form-control {
  background-color: #FFFFFF;
  color: #171717;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 1rem;
  font-size: 1rem;
}
.online-form .form-control::-moz-placeholder {
  color: #7d7d7d;
  font-size: 0.9rem;
}
.online-form .form-control::placeholder {
  color: #7d7d7d;
  font-size: 0.9rem;
}

/* Media Queries */
/* Smartphones Only */
@media (max-width: 640px) {
  /* Navbar */
  .navbar {
    /* Navbar Brand */
  }
  .navbar .navbar-brand img {
    width: 100px;
    max-width: 60%;
    height: auto;
  }
  .navbar .navbar-brand h3 {
    font-size: 20px;
  }
  .navbar .navbar-collapse {
    /* Navbar Link */
  }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    margin-left: 3px;
    font-size: 23px;
  }
  .navbar .navbar-collapse .btn {
    margin-top: 20px;
  }
  .about-page-intro .content h2 {
    font-size: 1.5rem;
  }
  .about-page-intro .content p {
    font-size: 0.8rem;
  }
}
/* Tablets/Ipads Only */
@media (max-width: 767.98px) {
  /* Carousel */
  .carousel-item {
    min-height: 250px;
  }
  .about-page-intro .content h2 {
    font-size: 1.75rem;
  }
  .about-page-intro .content p {
    font-size: 0.875rem;
  }
}
/* Desktop Only */
@media (max-width: 991.98px) {
  /* Navbar */
  .navbar .navbar-nav .nav-link, .navbar .navbar-nav .nav-link.show {
    padding: 10px 0;
    color: #FFFFFF;
  }
  .navbar .btn-transparent {
    background: #987e5a !important;
  }
  .about-page-intro .content h2 {
    font-size: 2rem;
  }
  .about-page-intro .content p {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  /* Navbar - Uncomment this code if you want the carousel to be positioned starting the navbar
  .navbar {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      border-bottom: 1px solid rgba(256, 256, 256, .1);
      z-index: 999;
  }
  */
}
@media (min-width: 1200px) {
  /* Footer */
  .footer {
    padding: 30px 0;
  }
}/*# sourceMappingURL=main.css.map */